<!DOCTYPE html>
<html ng-app="myApp">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Melvin Gutiérrez Vargas">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js" type="text/javascript"></script>
        <script src="js/script.js"></script>
        <title>Alarma</title>
    </head>

    <body ng-controller="AlarmCtrl">


        <img alt="Imagen del Encabezado" src="img/Banner.jpg" class="img-responsive">
        <nav class="navbar navbar-default">
            <div class="container-fluid"> 
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="defaultNavbar1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="grafica.html">Gráficas</a></li>                          
                            <li><a href="estadistica.html">Estadísticas</a></li>
                            <li class="active"><a href="alarmas.html">Alarmas</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse --> 
                </div>
                <!-- /.container-fluid --> 
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Alarma</th>
                            <th>Dispositivo</th>
                            <th>Fecha</th>                                                     
                            <th>Numero sensor</th>
                            <th>Coordenada X</th>
                            <th>Coordenada Y</th>
                            <th>Coordenada Z</th>
                            <th>Nivel</th>
                            <th>Mensaje</th>
                            <th>Vista</th>
                        </tr>
                        <tr ng-repeat="data in alarmas">
                            <td>{{data.idAlarma}}</td>
                            <td>{{data.device}}</td>
                            <td>{{data.fecha| date:'dd/MM/yyyy h:mm:ss a'}}</td>                                                 
                            <td>{{data.numeroSensor}}</td>
                            <td>{{data.coordenadaX}}</td>
                            <td>{{data.coordenadaY}}</td>
                            <td>{{data.coordenadaZ}}</td>
                            <td>{{data.nivel}}</td>
                            <td>{{data.mensaje}}</td>
                            <td>{{data.vista}}</td>
                        <tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">        	    
                    <p>Copyright &copy; 2016 &middot; Ebridge 3.0 ITCR</p>
                </div>
            </div>
        </div>

        <script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.js" type="text/javascript"></script>

    </body>

</html>